@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 tailwind colors
https://tailwindcss.com/docs/customizing-colors
*/
::-webkit-scrollbar-thumb {
  /* slate 600 in tailwind*/
  background:   #475569;
  border-radius: 5px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* slate 400 in tailwind*/
  background:   #94a3b8;
}